body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  padding: 40px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: square;
}

footer {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  padding: 10px;
}
